/* Estilos para el calendario */
.calendar-week-view {
  margin-left: 5rem;
  max-width: 100%;
  overflow-x: auto;
  background-color: #FBFBFB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para la tabla */
.calendar-week-view table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ayuda a manejar el ancho de las columnas de manera uniforme */
}

.calendar-week-view th,
.calendar-week-view td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

/* Estilos para eventos */
.calendar-week-view .event {
  background-color: #ee4747;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .calendar-week-view th,
  .calendar-week-view td {
    padding: 4px;
  }

  .calendar-week-view .event {
    font-size: 0.8em; /* Reducir el tamaño de la fuente para eventos en pantallas pequeñas */
  }
}
