body{
  /*background: #fffffc;*/
}
.subject-container {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}

.big-container{
  margin-left: 1rem;
  margin-right: 1rem;
}

.subject-name, .semester-name {
  background-color: #f5f5f5;
  color: black;
  border: none;
  padding: 8px;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.semester-name {
  background-color: #c33030d6;
}

.semester-row {
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
}


.subject-name:hover {
  background-color: #dfdcdc;
}

.semester-name:hover {
  background-color: #ea3e3ed6;
}

.subjects-container {
  border-top: 1px solid whitesmoke;
  padding-top: 1rem;
}

.schedule-container {
  padding: 8px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.schedule {
  padding: 4px;
  background-color: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  cursor: pointer;
}

.schedule:hover {
  background-color: #dfdcdc;
}

.schedule.selected {
  background-color: #ea3e3ed6;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.next-page {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f66060;
  color: white;
  border: 1px solid #f66060;
  cursor: pointer;
}

.next-page:hover {
  background-color: #ee4747;
  border: 1px solid #ee4747;
}

.calendar{
  margin-right: 5rem;
}